* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  .gallery {
    background: none;
    width: 100%;
    height: 800px;
    margin-top: 300px;
  }
  
  .gallery_cell {
    width: 45%;
    height: 100%;
    counter-increment: gallery-cell;
    display: flex;
    align-items: center; /* Центрирование по вертикали */
    justify-content: center; /* Центрирование по горизонтали */
  }
  
  .gallery_cell > img {
    width: 90%;
    display: block;
    margin: 0 auto;
  }
  
  /* Добавленные стили для устранения промежутков между ячейками */
  .js-flickity .flickity-viewport {
    overflow: visible;
  }
  
  .js-flickity .flickity-slider {
    display: flex;
  }
  
  .js-flickity .flickity-viewport::before,
  .js-flickity .flickity-viewport::after {
    content: "";
    display: none;
  }
  